//! **************************************************************************
// Written by: Map P.20160913 on Sat Jan 05 10:03:42 2019
//! **************************************************************************

SCHEMATIC START;
COMP "osc_clk" LOCATE = SITE "Y13" LEVEL 1;
COMP "led_red" LOCATE = SITE "E12" LEVEL 1;
COMP "SYSRST_N" LOCATE = SITE "AB14" LEVEL 1;
COMP "RESET_OUT_N" LOCATE = SITE "AA6" LEVEL 1;
COMP "pano_button" LOCATE = SITE "H12" LEVEL 1;
COMP "led_green" LOCATE = SITE "F13" LEVEL 1;
COMP "led_blue" LOCATE = SITE "H13" LEVEL 1;
TIMEGRP clk100mhz = BEL "divider/Qp_0" BEL "divider/Qp_1" BEL "divider/Qp_2"
        BEL "divider/Qp_3" BEL "divider/Qp_4" BEL "divider/Qp_5" BEL
        "divider/Qp_6" BEL "divider/Qp_7" BEL "divider/Qp_8" BEL
        "divider/Qp_9" BEL "divider/Qp_10" BEL "divider/Qp_11" BEL
        "divider/Qp_12" BEL "divider/Qp_13" BEL "divider/Qp_14" BEL
        "divider/Qp_15" BEL "divider/Qp_16" BEL "divider/Qp_17" BEL
        "divider/Qp_18" BEL "divider/Qp_19" BEL "divider/Qp_20" BEL
        "divider/Qp_21" BEL "divider/Qp_22" BEL "divider/Qp_23" BEL
        "divider/Qp_24" BEL "divider/Qp_25" BEL "divider/Qp_26" BEL
        "divider/Qp_27" BEL "clk100mhz_BUFG";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN clockpll/dcm_sp_inst_pins<3> = BEL "clockpll/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk25_grp = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "clockpll/dcm_sp_inst_pins<3>";
NET "clockpll/clkin1" PERIOD = 40 ns HIGH 50%;
TS_PER_FREQIN = PERIOD TIMEGRP "clk25_grp" 40 ns HIGH 50%;
TS_clk100mhz = PERIOD TIMEGRP "clk100mhz" TS_PER_FREQIN / 4 HIGH 50%;
SCHEMATIC END;

